<h2>Student List</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Grade</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.grade }}</td>
      <td>
        <button class="btn btn-primary" (click)="editStudent(student)">Edit</button>
        <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>

      </td>
    </tr>
  </tbody>
</table>
